<% if resource.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <%= devise_error_messages! %>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br><br><br>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-signin mt-3", method: :put }) do |f| %>
        <h1 class="h3 mb-5 font-weight-normal text-center">Edition de l'email et du mot de passe</h1>

        <div class="form-group">
          <%= f.label :email, "Email" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :password, "Nouveau mot de passe" %> <i>(Laisse blanc si tu ne veux pas le changer)</i><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> caractères minimum</em>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirmation du mot de passe" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :current_password, "Mot de passe actuel" %> <i>(On a besoin de ton mot de passe actuel pour valider)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <div class="actions mt-3">
          <%= f.submit "Mettre à jour", class: 'btn btn-lg btn-primary btn-block' %>
        </div>
      <% end %>

      <div class='d-flex justify-content-center align-items-center mt-5 mb-4' style='height: 40px;'>
        <p class='my-0'><%= link_to "Retour", :back %></p>
        <%= button_to "Effacer mon compte", registration_path(resource_name), data: { confirm: "Es-tu sûr(e) ?" }, method: :delete, class: 'btn btn-sm btn-danger ml-5' %>
      </div>

    </div>
  </div>
</div>
