<% if flash[:success] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:success] %>
  </div>
<% end %>

<% flash[:success] = nil %>

<h1 class="display-4 ml-5 mt-4 mb-5">Page profil</h1>

<h2 class="text-monospace ml-5 my-4"><%= @user.first_name %> <%= @user.last_name %></h2>

<p class="lead ml-5">
  Email : <span class="text-monospace"><%= @user.email %></span><br />
  Description : <span class="text-monospace"><%= @user.description %></span>
</p>

<div class="d-flex justify-content-center mt-5">
  <div class="mx-3">
    <%= link_to "Editer email et mot de passe", edit_user_registration_path(@user), :class => "btn btn-primary" %>
  </div>
  <div class="mx-3">
    <%= link_to 'Editer le reste', edit_user_path(@user), :class => "btn btn-outline-secondary" %>
  </div>
</div>

<div class="d-flex flex-wrap justify-content-around">
  <% @user.events.each do |event|%>

  <div class="card col-8 col-sm-5 col-lg-4 px-0 mx-2 my-4" style="max-width: 400px; box-shadow: 0px 0px 5px grey;">
    <div class="card-body">
      <h5 class="card-title" style="min-height: 50px;""><%= event.title %></h5>
      <h6 class="card-subtitle text-muted mb-2">Évènement n°<%= Event.all.index(event) + 1 %></h6>
      <p class="card-text"><%= event.description %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Date : <%= event.start_date.strftime("%d/%m/%Y, %H:%M") %></li>
      <li class="list-group-item">Durée : <%= event.duration %> mins</li>
      <li class="list-group-item">Prix : <%= event.price %> €</li>
      <li class="list-group-item">Localisation : <%= event.location %> </li>
    </ul>
    <div class="d-flex justify-content-start py-3 pl-3">
      <div class="btn-group">
        <%= link_to 'Afficher', event_path(event), :class => "card-link btn btn-sm btn-outline-success" %>
      </div>
    </div>
  </div>

  <% end %>
</div>
