<% if flash[:success] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:success] %>
  </div>
<% end %>

<% flash[:success] = nil %>

<h1 class="display-4 ml-5 mt-4 mb-5">Evenement</h1>

<h2 class="text-monospace ml-5 my-4"><%= @event.title %></h2>

<p class="lead ml-5">
  Description : <span class="text-monospace"><%= @event.description %></span><br />
  Date de début : <span class="text-monospace"><%= @event.start_date.strftime("%d/%m/%Y, %H:%M") %></span><br />
  Date de de fin : <span class="text-monospace"><%= (@event.start_date + @event.duration.minutes).strftime("%d/%m/%Y, %H:%M") %></span><br />
  Durée : <span class="text-monospace"><%= @event.duration %></span> mins<br />
  Lieu : <span class="text-monospace"><%= @event.location %></span><br />
  Prix : <span class="text-monospace"><%= @event.price %> €</span>
</p>

<p class="lead ml-5">
  Il y a pour l'instant <span class="text-monospace"><%= @event.attendances.count %></span> participant(s) à l'évènement
</p>

<p class="lead ml-5">
  L'évènement est tenu par : <%= @event.attendances[0].user.first_name %> <%= @event.attendances[0].user.last_name %>.
</p>
