<!DOCTYPE html>
<html>
<head>
  <title>Eventbrite</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-0">
    <a class="navbar-brand mb-0 h1" href="#">Eventbrite</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav_collapse" aria-controls="nav_collapse" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav_collapse">
      <div class='d-flex justify-content-between' style="width: 100%">
        <div class="navbar-nav">
          <span><%= link_to "Liste des évènements", root_path, :class => "nav-item nav-link" %></span><span class="sr-only">(current)</span>
          <span><%= link_to "Créer un évènement", root_path, :class => "nav-item nav-link" %></span>
        </div>
        <!-- La barre de navigation change si l'utilisateur est connecté ou non -->
        <!-- Connecté -->
        <%   if user_signed_in? %>
        <div class="nav-item dropdown mr-4">
          <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mon profil
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= link_to "Mon profil", user_path(current_user), :type => "button",  :class => 'dropdown-item' %>
            <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </div>
        <!-- Non connecté -->
        <%  else %>
        <div class="nav-item dropdown mr-4">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            S'inscrire / se connecter
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= link_to "S'inscrire", new_user_registration_path, :type => "button",  :class => 'dropdown-item' %>
            <%= link_to "Se connecter", new_user_session_path, :type => "button",  :class => 'dropdown-item' %>
          </div>
        </div>
        <%  end %>
        <!-- Fin du changement -->
      </div>
    </div>
  </nav>

  <%= yield %>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
