<% if flash[:danger] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:danger] %>
  </div>
<% end %>

<% flash[:danger] = nil %>

<div class="jumbotron jumbotron-fluid pt-3 pb-4" >
  <h1 class="display-4 ml-3 mb-4">Evenbritlite home page!</h1>
  <p class="lead ml-3 my-4">Full of fun event !</p>
</div>

<div class="jumbotron jumbotron-fluid bg-white pt-3 pb-4 d-flex flex-column align-items-center" >
  <p class="lead ml-3 my-4"></p>
  <p><%= link_to "Create a event", new_event_path, :type => "button",  :class => 'btn btn-primary ml-3' %></p>
</div>

<div class="d-flex flex-wrap justify-content-around">
  <% Event.all.each do |event|%>

  <div class="card col-8 col-sm-5 col-lg-4 px-0 mx-2 my-4" style="max-width: 400px; box-shadow: 0px 0px 5px grey;">
    <div class="card-body">
      <h5 class="card-title" style="min-height: 50px;""><%= event.title %></h5>
      <h6 class="card-subtitle text-muted mb-2">Event n°<%= Event.all.index(event) + 1 %></h6>
      <p class="card-text"><%= event.description %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Date : <%= event.start_date.strftime("%d/%m/%Y, %H:%M") %></li>
      <li class="list-group-item">Durée : <%= event.duration %> mins</li>
      <li class="list-group-item">Price : <%= event.price %> €</li>
      <li class="list-group-item">Location : <%= event.location %> </li>
    </ul>
    <div class="d-flex justify-content-start py-3 pl-3">
      <div class="btn-group">
        <%= link_to 'Display', event_path(event), :class => "card-link btn btn-sm btn-outline-success" %>
      </div>
    </div>
  </div>

  <% end %>
</div>
